@font-face{
    font-family: Roboto;
    src: url(Fonts/Roboto-Regular.ttf);
}
@font-face{
  font-family: Josefin sans;
  src: url(Fonts/JosefinSans-VariableFont_wght.ttf);
}

.header
{
    background-color: #fdd7d4;
    padding: 10px;
}
.h1-p
{
  font-family: Roboto;
  text-align: center;
  color: #142b6f;
}
.black-header
{
    font-family: Roboto;
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}
.black-header p
{
    margin-bottom: 0px !important;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 13px;
    font-weight: bold;
    border: none;
    outline: none;
    color: #142b6f;
    padding: 14px 16px;
    background-color: inherit;
    font-family: roboto; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
.dropdown1{
  float: left;
}
  .dropdown1 .dropbtn {
    font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
    border: none;
    outline: none;
    color: #142b6f;
    padding: 10px 12px;
    border-radius: 8%;
    background-color: #ffffff;
    font-family: roboto; /* Important for vertical align on mobile phones */
    margin-top: 6px; /* Important for vertical align on mobile phones */
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
 
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .menu-p
  {
    font-size: 13px;
    font-weight: bold;
    color: #142b6f;
    display: inline;
    padding: 14px 16px;
    background-color: inherit;
    font-family: roboto; /* Important for vertical align on mobile phones */
  }
  .blue
  {
    color: #142b6f;
  }
  .bold
  {
    font-weight: bold;
  }
  h1
  {
    font-family: Josefin sans;
    margin-top: 60px;
    text-align: center;
  }
  .center
  {
    text-align: center;
  }
  .choose-box-btn
  {
    background-color: #142b6f;
    color: #fff88d;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 0px !important;
    font-family: roboto;
  }
  .item1
  {
    display: inline !important;
  }
  .choose-box-btn1
  {
   
    background-color: #142b6f;
    color: #fff88d;
    font-size: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 0px !important;
    font-family: roboto;
    margin-bottom: 70px; 
  }
  .choose-box-btn:hover
  {
    background-color: #142b6f;
    color: #fff88d;
  }
  .strike
  {
    text-decoration: line-through;
  }
  .checkout-div
  {
    margin-top: 30px;
  }
  .btn-div
  {
    text-align: center;
  }
.fingure-image-div
{
  transform: rotate(40deg);
  display: inline-block;
  margin-left: 70px;
}
.right-menuber
{
  margin-top: 13px;
}
.second-div
{
  padding-top: 30px;
  padding-bottom: 30px;
}
.second-div p
{
  font-family: Josefin sans;
}
.third-div p
{
  font-family: Josefin sans;
}
.third-div
{
  padding-top: 30px;
  padding-bottom: 30px;
}
.mrg-top
{
  margin-top: 14px;
}
h4
{
  color: #142b6f;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-family: Josefin sans;
}
.Img7-jpg
{
  position: relative;
}
.Img8-Gif
{
  height: 120px;
  width: 120px;
  position: absolute;
  z-index: 1;
  margin-top: -70px;
  margin-left: 230px;
}
h5
{
  color: #142b6f;
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
  font-family: Josefin sans;
}
.carousel-inner img
{
  display: inline-block !important;
}
.fourth-div
{
  font-family: Josefin sans;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
 }
.fourth-div img
{
  vertical-align: middle;
  margin-top: 20px;
  height: 40px;
}
.fifth-div
{
  background-color: #fff88d;
  padding-top: 30px;
  font-family: Josefin sans;
  padding-bottom: 60px;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 150px;
  margin-top: 60px;
  text-align: center;
}
.fifth-div h5
{
  margin-bottom: 30px;
}
.fifth-p
{
  font-size: 20px;
  margin-top: 20px;
}
.fifth-p1
{
  font-size: 15px;
  color: #142b6f;
}
.slider-left
{
  background-color: #fff88d !important;
  width: 0% !important;
  text-shadow: none !important;
  color: #000000 !important;
  left: 80px !important;
  top: 100px !important;
}
.slider-right
{
  background-color: #fff88d !important;
  width: 0% !important;
  text-shadow: none !important;
  color: #000000 !important;
  top: 100px !important;
  right: 53px !important;
}
.slider-indicator3
{
  top: 140px !important;
}
.slider-indicator3 .active
{
  background-color: #142b6f !important;
  margin: 1px !important;
}
.slider-indicator3 li
{
  border: 1px solid #142b6f !important;
  width: 8px !important;
  height: 8px !important;
}
.slider-indicator
{
  top: 140px !important;
}
.slider-indicator .active
{
  background-color: #142b6f !important;
  margin: 1px !important;
}
.slider-indicator li
{
  border: 1px solid #142b6f !important;
  width: 8px !important;
  height: 8px !important;
}
.slider-img
{
  text-align: center;
}
.footer-div
{
  background-color: #ffd5d8;
  padding-top: 40px;
  font-family: Josefin sans;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  color: #142b6f;
}
.simple
{
  list-style-type: none;
}
ul li
{
   font-size: 15px;
   line-height: 50px;
}
.follow-p
{
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
}
.input-div input
{
  border: none;
  padding: 9px;
}
.input-p
{
  position: relative;
}
.btn-p
{
  position: absolute;
  z-index: 1;
  top: 29px;
  left: 150px;
}
.copyright-p
{
  position: relative;
  margin-top: 25px;
  text-align: center;
  font-size: 15px;
}
.Img-div
{
 float: right;
 position: absolute;
 z-index: 1;
 margin-top: -46px;
 margin-left: 1400px;
}
.p-width
{
  width: 70%;
}
@media screen and (max-width: 992px){
  .Img-div{
    margin-left: 700px;
  }
  .img2-size{
    width: 350px;
  }
  .fifth-div{
    margin-left: 20px;
    margin-right: 20px;
  }
  .fifth-p{
    margin-left: 20px;
    margin-right: 20px;
  }
  .slider-left{
    left: 30px !important;
  }
  .slider-right{
    right: 70px !important;
  }
  .footer-div{
    margin-left: 2px;
    margin-right: 2px;
  }
  .img6-size
  {
    width: 330px;
  }
  .slider-indicator1
  {
    top: 100px !important;
  }
}
@media screen and (max-width: 576px){
  .img2-size{
    width: 350px;
  }
  .slider-indicator2{
    top: 170px !important;
  }
  .img6-size{
    width: 350px;
  }
  .Img8-Gif{
    margin-left: 180px;
  }
  .fifth-div{
    margin-left: 10px;
    margin-right: 10px;
  }
  .slider-left{
    left: 40px !important;
  }
  .slider-right{
    right: 50px !important;
  }
  .slider-indicator3{
    top: 100px !important;
  }
  .slider-indicator{
    top: 190px !important;
  }
  .footer-div ul{
    margin-left: -37px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px){
  .Img-div{
    margin-left: 900px;
  }
  .img2-size{
    width: 450px;
  }
  .container{
    width: auto;
  }
  .btn-p{
    left: 130px;
  }
}